<!doctype html>
<html lang="en">
<head>
    <meta charset="utf8">
    <title>Home</title>
    <link href="/reset.css" rel="stylesheet">
    <link href="/nav-bar.css" rel="stylesheet">
</head>
<body>
    <div> 
    <h3  class='nav-bar'>
        <ul id='menu'>
            <li><a href="#">LifeIsTech!</a></li>
            <li><a href='#'>Home</a></li>
            <li>
                <a href="#">About&#x25BC;</a>
                <ul class='hidden'>
                    <li><a href="#">Who we are</a></li>
                    <li><a href="#">What we do</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Sign in</a>
            </li>
            <li>
                <a href="#">More Jazzes To Come</a>
            </li>
        </ul>
    </h3>
    <h3  class='hor-line'></h3>
    </div>
    <h3  class='space-holder'></h3>
    <h1 class='title'>Home</h1>
    <style>
        #button {
            text-align:center;
            font-size: 25px;   
            width: 40%;
            margin-left: 30%;
            margin-right: 30%;
            height: 30%;
            background-color:#FF7143;
        }
        #button p {
            text-align: center;
        }
        #button a {
            text-decoration: none;
        }
    </style>
    <div id='button'>
        <p><a href='/courseSelection'>CourseSelection</a></p>
    </div>


</body>
</html>
